 <a href='/'>Go back to form</a>
 <table>
	<thead>
	  <tr>
		<td>Name</td>
		<td>Date</td>
		<td>Liters</td>
		<td>Liter price</td>
		<td>Total price</td>
		<td>ODO</td>
	  </tr>
	</thead>
	<tbody>
		{% for refueling in refuelings %}
		 <tr>
			<td>{{ refueling.author.nickname }}</td>
			<td>{{ refueling.date }}</td>
			<td>{{ refueling.liters|floatformat:2 }}</td>
			<td>{{ refueling.real_liter_price|floatformat:3 }}</td>
			<td>{{ refueling.real_total_price|floatformat:2 }}</td>
			<td>{{ refueling.odo }}</td>
		  </tr>
		{% endfor %}
    </tbody>
 </table>

